In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset=pd.read_csv("trainingdata.csv")

In [3]:
dataset[0:5]

,Max.Temperature,Min.Temperature,Avg.Humidity,Rainfall,Positive,pf,Outbreak
0,29,18,49.74,0.00,2156,112,No
1,34,23,83.27,15.22,10707,677,Yes
2,40,23,50.74,0.00,1257,127,No
3,34,24,59.16,9.06,4198,211,No
4,34,27,73.23,0.00,11808,712,Yes

In [6]:
x=dataset.iloc[:,[0,1,2,3,4,5]]

In [8]:
x[0:5]

   Max.Temperature  Min.Temperature  Avg.Humidity  Rainfall  Positive   pf
0               29               18         49.74      0.00      2156  112
1               34               23         83.27     15.22     10707  677
2               40               23         50.74      0.00      1257  127
3               34               24         59.16      9.06      4198  211
4               34               27         73.23      0.00     11808  712

In [9]:
y=dataset.iloc[:,6]

In [10]:
y[0:5]

0    No
1    Yes
2     No
3     No
4    Yes
Name: Outbreak, dtype: object

In [11]:
from sklearn.cross_validation import train_test_split

/srv/conda/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [92]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.5)

In [93]:
print ('Train set:', x_train.shape,  y_train.shape)
print ('Test set:', x_test.shape,  y_test.shape)

Train set: (11, 6) (11,)
Test set: (12, 6) (12,)

In [94]:
from sklearn.preprocessing import StandardScaler

In [95]:
sc=StandardScaler()

In [96]:
x_train=sc.fit_transform(x_train)

In [97]:
x_test=sc.transform(x_test)

In [98]:
from sklearn.neighbors import KNeighborsClassifier

In [99]:
classifier=KNeighborsClassifier(n_neighbors=5,metric='minkowski')

In [100]:
classifier.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [101]:
y_pred=classifier.predict(x_test)

In [102]:

y_pred[0:5]

array(['Yes', 'No', 'No', 'No', 'No'], dtype=object)

In [103]:
from sklearn.metrics import confusion_matrix

In [104]:
cm=confusion_matrix(y_test,y_pred)

In [105]:
cm

array([[6, 0, 0],
       [1, 0, 0],
       [3, 0, 2]])

In [106]:
accuracy=((1+2+1)/(1+2+1+2))*100

In [107]:
accuracy

66.66666666666666